parameters:
    bootstrapFiles:
        - src/classmap.php
    level: 9
    paths:
        - src
    excludePaths:
        - 'src/tests/*'
    universalObjectCratesClasses:
        - ABadCafe\PDE\Audio\Sequence\Event
